.detalle{
    background-color: aqua;
    width: 50%;
    margin: 0 40px;
    padding: 0 40px;
    text-align: center;

    .img-detalle{
        width: 200px;
    }
}

.center-detail{
    text-align: center;

}

.cent-img{
        display: flex;
        justify-content: center;
        align-items: center;
}
