/* .bgred{
 background-color: rgb(161, 20, 20);
} */

 .cBlanco{
    color: #fff !important;
    padding: 5px;
    text-decoration: none;

} 

span{

    a{
        text-decoration: none;
        color: #fff;
    }
}

